<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Order</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <script src="static/jquery.min.js"></script>
    <script>
    </script>
</head>
<body>
    <!-- Nav Bar-->
    <div id="navbar" class="collapse navbar-collapse navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/book_search">Search</a></li>
        <li><a href="/basket_search">My Basket</a></li>
        <li class="active"><a href="/order_search">My Order</a></li>
    </ul>
    </div>

    <div class="container">
        <div class="starter-template">
            <!-- Main content should go here-->
            <h1>Search</h1>
            <form action="/order_search" method="POST">
                Order Number: <input type="text" name="order_num">
                <input type="submit">
            </form>
            <br>
            <br>
            <h1>Result</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for i in label %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in table %}
                        <tr>
                            {% for j in i %}
                                <td>{{ j }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>